align-items: center;
}

.circle-container-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #55684d;
    margin-top: 10px;
    background-color: blue;
    align-items: center;
    background-image: url(../images/munro-walk-picture\ \(1\).webp)
}

.circle-container-2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #55684d;
    margin-top: 20px;
    background-color: blue;
    align-items: center;
    background-image: url(../images/sir-hugh-munro\ \(1\).webp);
    background-position: center;
}

.circle-container-3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #55684d;
    margin-top: 10px;
    overflow: hidden;
    background-color: blue;
    align-items: center;
    background-image: url(../images/munro-bagging-grampians\ \(1\).webp);
