@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Katibeh&family=Lato:wght@300&family=Merriweather:ital@0;1&family=Oswald&family=Work+Sans:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Katibeh;
    font-weight: 600;
    background-color: #9FB396;
}

/* headings and logo for page*/

#header-content {
    background: url('../images/Scotland-1.jpg') no-repeat center;
    background-size: 100%;


}

.main-logo {
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    justify-content: flex-start;
    color: aliceblue;
}

.main-logo a {
    text-decoration: none;
    color: aliceblue;
}

.sub-logo {
    font-size: 200%;
    text-align: center;
    color: aliceblue;
}

.sub-logo a {
    text-decoration: none;
    color: aliceblue;
}


/* navigation links */

#menu {
    font-size: 160%;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    position: relative;
    top: 75px;
    background-color: rgb(209, 190, 162);

}

#menu li {
    display: inline-block;
    letter-spacing: normal;
    text-transform: bold;
    border-radius: 10px;
    width: 100px;
    margin: 20px 1vw;
    padding-bottom: 10px;
    background-color: rgb(209, 190, 162);
}


#menu li a {
    text-decoration: none;
    color: inherit;
    text-align: center;

}

#menu a:hover {
    border-bottom: 1px solid black;
}

/* munro history information*/

#history-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    gap: 25px;
    height: 200px;
    margin: 100px auto;
}

#history-info h2 {
    font-size: 275%;


}

#history-info p {
    font-size: 150%;

}

#history p {
    padding-left: 25px;
    padding-right: 50px;

}

#munro-name p {
    padding-left: 50px;
    padding-right: 50px;
}

#compleater p {
    padding-right: 25px;
    padding-left: 50px;
}

#history-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 150px 0;
    gap: 20px;
}

#circle-container-1 {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(209, 190, 162);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-id-1 {
    background: url(../images/Munro-walk\ picture.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-container-2 {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(209, 190, 162);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-id-2 {
    background: url(../images/Sir_Hugh_Munro_\(Scotland\).jpeg) no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

#circle-container-3 {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(209, 190, 162);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-id-3 {
    background: url(../images/munro-bagging-grampians.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Club information */

#group-info {
    height: 150px;
    margin: 150px auto;
    text-align: center;
}

.club h2 {
    font-family: inherit;
    font-size: 275%;

}

.club p {
    font-family: inherit;
    font-size: 150%;
    padding-left: 25px;
    padding-right: 25px;
}

/* video content*/

#video {
    display: flex;
    justify-content: center;
    margin: 200px 0;
}